:root {
    --black: #000000;
    --gray: #151515;
  }
  
  * {
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
  }
  
  .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    height: auto;
    max-width: 170px;
    border-radius: 50%;
  }
  
  .linktree-name {
    text-align: center;
    padding: 30px;
    font-size: 2.75rem;
    color: white;
    font-weight: 800;
  }
  
  .links {
    text-align: center;
    margin-top: 20px;
    border-radius: 2px;
    background-color: var(--gray);
  
    width: 70%;
    max-width: 500px;
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 5px;
  
    font-size: 1rem;
  }
  
  .links:hover {
    background-color: rgba(255, 100, 100, 0.4);
    color: white;
  }
  
  a {
    text-decoration: none;
    color: #909090;
    transition: 0.3s;
    font-weight: 500;
  }

  .credits {
    padding-top: 2%;
    font-size: 0.75rem;
    color: #909090;
    text-align: center;
  }

  .credits a:hover {
    color: white;
    text-decoration: underline;
    transition: 0.2s;
  }
